

<nav class="container d-flex align-item-center">
   <a href="" class="logo mr-auto">Avenue<span>25</span></a>
   <div class="nav-menu">
    <ul>
      <li class><a href="/">Home</a></li>
      <li><a href="/pricing">Pricing</a></li>
      <li><a href="/services">Services</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
   </div>
  </nav>