<div class="Pricingcard">
    <div class="cardTitle">
      <h1>Web Dev</h1>
    </div>
    <div class="infoContainer">
      <p>
        R250
        <span>/mon</span>
      </p>
      <ul class="PriceOptions">
        
        <li>Maintena</li>
        <li>Maintena</li>
        <li>Maintena</li>
        <li>Maintena</li>
      </ul>
      <a href=""> Choose me</a>
    </div>
  </div>